body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#slider {
  position: relative;
  width: 1200px;
  height: 800px;
  display: block;
  margin: auto;
  overflow: hidden;
}
#slider #slider_wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.53, 0.01, 0.77, 0.45);
}
#slider #slider_wrap .slider_img {
  position: relative;
  width: auto;
  height: 100%;
  float: left;
}
#slider #slider_wrap .slider_img img {
  width: auto;
  height: 100%;
}
#slider button {
  position: absolute;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 21px;
  z-index: 10;
}
#slider button.arrow-left {
  left: 0;
  top: calc(50% - 25px);
}
#slider button.arrow-right {
  right: 0;
  top: calc(50% - 25px);
}
#slider button svg {
  width: auto;
  height: 50px;
}
#slider button svg polygon {
  fill: white;
}

/*# sourceMappingURL=style.css.map */
