body {
    margin: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}

#slider {
    position: relative;
    width: 1200px;
    height: 800px;
    display: block;
    margin: auto;
    overflow: hidden;
    
    #slider_wrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        
        transition: transform .7s cubic-bezier(.53,.01,.77,.45);
        
        .slider_img {
            position: relative;
            width: auto;
            height: 100%;
            float: left;
            
            img {
                width: auto;
                height: 100%;
            }
        }
    }

    button {
        position: absolute;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 21px;
        z-index: 10;

        &.arrow-left {
            left: 0;
            top: calc(50% - 25px);
        }
        &.arrow-right {
            right: 0;
            top: calc(50% - 25px);
        }
    
        svg {
            width: auto;
            height: 50px;

            polygon {
                fill: white;
            }
        }
    }
}